<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div class="map">
      <div class="map-inner">
        <app-map-cesium></app-map-cesium>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="map">
      <div class="map-inner">
        <app-map-cesium></app-map-cesium>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="map">
      <div class="map-inner">
        <app-map-cesium></app-map-cesium>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="map">
      <div class="map-inner">
        <app-map-cesium></app-map-cesium>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>